header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

ol {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  list-style-type: none;
}

main{
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.title-header{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.title-banner{
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.icons{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}

.icons img{
    height: 32px;
}

.time, .level, .date{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: rgb(222, 222, 222);
    border-radius: 8px;
    padding: 8px 32px;
}

input {
    font-size: 22px;
    width: 150px;
}

button{
    font-size: 22px;
}
